.carousel-wrapper {
    overflow: hidden;
    height: 100%;
    width: 50%;
    margin: auto;
  }
  
  img {
      max-width: 100%;
  }
  .carousel-wrapper * {
    box-sizing: border-box;
  }
  .carousel {
    transform-style: preserve-3d;
  }
  .carousel__item {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: all .5s ease;
  }
  
  .carousel__item.initial,
  .carousel__item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
  }
  
  .carousel__item.prev,
  .carousel__item.next {
    z-index: 800;
  }
  .carousel__item.prev {
    /* transform: translateX(-100%); */ /* Move 'prev' item to the left */
    transform: translateY(-100%);
  }
  .carousel__item.next {
    /* transform: translateX(100%); */ /* Move 'next' item to the right */
    transform: translateY(100%);
  }
  
  .carousel__button--prev,
  .carousel__button--next {
    position: absolute;
    top:50%;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid black;
  }
  .carousel__button--prev {
    top: 30%;
  }
  /* .carousel__button--next {
    right:0;
  }  */
  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  
  .carousel__button--prev::after {
    transform: translate(-50%, -50%) rotate(-135deg);
  } 
  
  .carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .slider-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
    list-style: none;
  }